@import "tailwindcss";

@theme {
  --color-primary: #aa3bff;
  --font-sans: Inter, system-ui, sans-serif;
}

body {
  background-color: #000;
  color: #fff;
  margin: 0;
  font-family: var(--font-sans);
}
